<div class="page-header">
	<h1>
		Banners ({{ banner.banners.length }})
		<a href="/banners/create" class="btn btn-default">
			<span class="glyphicon glyphicon-download"></span>&nbsp;New Banner
		</a>
	</h1>
</div>

  <div class="container" ng-init="sortType = 'bannerId'; sortReverse = false; ">

    <table class="table table-striped">
      <thead>
          <tr>

            <th>
              <a href="#" ng-click="sortType = 'bannerId'; sortReverse = !sortReverse; ">banner Id
                <span ng-show="sortType == 'bannerId' &&  !sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                <span ng-show="sortType == 'bannerId' &&  sortReverse" class="glyphicon glyphicon-arrow-up"></span>
              </a>
            </th>
            <th><a href="#" ng-click="sortType = 'bannerText'; sortReverse = !sortReverse; ">Text
                <span ng-show="sortType == 'bannerText' &&  !sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                <span ng-show="sortType == 'bannerText' &&  sortReverse" class="glyphicon glyphicon-arrow-up"></span>
              </a>
            </th>
            <th><a href="#" ng-click="sortType = 'country'; sortReverse = !sortReverse; ">Country
                <span ng-show="sortType == 'country' &&  !sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                <span ng-show="sortType == 'country' &&  sortReverse" class="glyphicon glyphicon-arrow-up"></span>
              </a>
            </th>
            <th><a href="#" ng-click="sortType = 'relatedOfferId'; sortReverse = !sortReverse; ">Related Offer
                <span ng-show="sortType == 'relatedOfferId' &&  !sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                <span ng-show="sortType == 'relatedOfferId' &&  sortReverse" class="glyphicon glyphicon-arrow-up"></span>
              </a>
            </th>

            <th>Thumbnail</th>

            <th><a href="#" ng-click="sortType = 'validityFrom'; sortReverse = !sortReverse; ">From
                <span ng-show="sortType == 'validityFrom' &&  !sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                <span ng-show="sortType == 'validityFrom' &&  sortReverse" class="glyphicon glyphicon-arrow-up"></span>
              </a>
            </th>
            <th><a href="#" ng-click="sortType = 'validityTo'; sortReverse = !sortReverse; ">To
                <span ng-show="sortType == 'validityTo' &&  !sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                <span ng-show="sortType == 'validityTo' &&  sortReverse" class="glyphicon glyphicon-arrow-up"></span>
              </a>
            </th>

            <th>&nbsp;</th>
          </tr>
      </thead>
      <tbody><tr ng-repeat="mogly in banner.banners | orderBy:sortType:sortReverse">
        
        <td>{{mogly.bannerId}}</td>
        <td>{{mogly.bannerText}}</td>
        <td>{{mogly.country}}</td>
        <td>{{mogly.relatedOfferId}}</td>
        <td><img src="{{mogly.thumbnailUrl}}" style="max-height:30px"/></td>
        <td>{{ mogly.validityFrom }}</td>
        <td>{{ mogly.validityTo }}</td>
        <td>
          <a class="btn" ng-href="/banners/{{ mogly._id }}">&nbsp;Edit</a>
          <a href="#" ng-click="banner.deleteBanner(mogly._id)" class="btn btn-primary">Delete</a>
          <!-- <a href="#" ng-click="user.deactivateBanner(mogly._id)" class="btn btn-primary">Deactivate</a> -->
        </td>
      </tr></tbody>
    </table>

  </div>
