<div class="page-header">
	<h1>
		Banners
		<a href="/banners/create" class="btn btn-default">
			<span class="glyphicon glyphicon-download"></span>&nbsp;New Banner
		</a>
	</h1>
</div>

  <div class="container">

    <table class="table table-striped">
      <thead>
          <tr>
            
            <th>banner Id</th>
            <th>Text</th>
            <th>Country</th>
            <th>Realted Offer</th>
            <th>Thumbnail</th>
            <th>validFrom</th>
            <th>validTo</th>
            <th>&nbsp;</th>
          </tr>
      </thead>
      <tbody><tr ng-repeat="mogly in banner.banners">
        
        <td>{{mogly.bannerId}}</td>
        <td>{{mogly.bannerText}}</td>
        <td>{{mogly.country}}</td>
        <td>{{mogly.relatedOfferId}}</td>
        <td><img src="{{mogly.thumbnailUrl}}" style="max-height:30px"/></td>
        <td ng-bind = "banner.getFormattedDate(mogly.validFrom)"></td>
        <td ng-bind = "banner.getFormattedDate(mogly.validTo)"></td>
        <td>
          <a class="btn" ng-href="/banners/{{ mogly._id }}">&nbsp;Edit</a>
          <a href="#" ng-click="user.deletebanner(banner._id)" class="btn btn-primary">Delete</a>
          <a href="#" ng-click="user.deactivateBanner(banner._id)" class="btn btn-primary">Deactivate</a>
        </td>
      </tr></tbody>
    </table>

  </div>
