<div class="page-header">
	<h1>
		Offers
		<a href="/offers/create" class="btn btn-default">
			<span class="glyphicon glyphicon-download"></span>&nbsp;New Offer
		</a>
	</h1>
</div>

  <div class="container">

    <table class="table table-striped">
      <thead>
          <tr>
            <th>Id</th>
            <th>Offer Code</th>
            <th>Title</th>
            <th>Country</th>
            <th>From</th>
            <th>To</th>
            <th>&nbsp;</th>
          </tr>
      </thead>
      <tbody><tr ng-repeat="mogly in offer.offers">
        <td>{{mogly.offerId}}</td>
        <td>{{mogly.offerCode}}</td>
        <td>{{mogly.title}}</td>
        <td>{{mogly.country}}<w/td>
        <td ng-bind="offer.getFormattedDate(mogly.validFrom)"></td>
        <td ng-bind="offer.getFormattedDate(mogly.validTo)"></td>
        <td>
          <a class="btn" ng-href="/offers/{{ mogly._id }}">&nbsp;Edit</a>
          <a href="#" ng-click="" class="btn btn-primary">Delete</a>
          <a href="#" ng-click="" class="btn btn-primary">Deactivate</a>
        </td>
      </tr></tbody>
    </table>

  </div>
