<div class="page-header">
    <h1 ng-if="offer.type == 'create'">Add Offer</h1>
    <h1 ng-if="offer.type == 'edit'">Edit Offer</h1>
</div>
<div class="container">
    <form role="form" ng-submit="offer.saveOffer()">
        <table style="width:100%">

            <tr>
                <td style="width:20%">
                    Offer Id:
                </td>
                <td>
                    <input type="text" placeholder="Offer Id" class="form-group" ng-model="offer.offerData.offerId">
                </td>
            </tr>
            
            <tr>
                <td style="width:20%">
                    OfferCode:
                </td>
                <td>
                    <input type="text" placeholder="Enter Offer Code" class="form-group" ng-model="offer.offerData.offerCode">
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    Button Title:
                </td>
                <td>
                    <input type="text" class="form-group" placeholder="Enter button title" ng-model="offer.offerData.buttonTitles">
                </td>
                <td style="width:20%">
                    Button Action:
                </td>
                <td>
                    <input type="text" class="form-group" placeholder="Enter action code" ng-model="offer.offerData.buttonActions">
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td style="width:20%">
                    Country:
                </td>
                <td>
                    <div class="form-group">
                        <select ng-model="offer.offerData.country">
                            <option value="INDIA">India</option>
                            <option value="MALAYSIA">Malaysia</option>
                            <option value="SINGAPORE">Singapore</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    Description:
                </td>
                <td>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Enter Description" ng-model="offer.offerData.description"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    DetailsBody:
                </td>
                <td>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" 
                        placeholder="Enter Details
 1.
 2.
 3.
 4." ng-model="offer.offerData.detailsBody"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    Valid From:
                </td>
                <td>
                    <div class="form-group">
                        <div class='col-md-5'>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="offer.offerData.validFrom" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    Valid to:
                </td>
                <td>
                    <div class="form-group">
                        <div class='col-md-5'>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="offer.offerData.validTo" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    DetailsTitle:
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" placeolder="Enter details title" ng-model="offer.offerData.detailsTitle">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    Footer:
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter footer text" ng-model="offer.offerData.footer">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    Title:
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter title" ng-model="offer.offerData.title">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    PhoneImageUrl:
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Image URL" ng-model="offer.offerData.phoneImageUrl">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    TabletImageUrl:
                </td>
                <td>
                    <input class="form-group form-control" type="text" placeholder="Image URL" ng-model="offer.offerData.tabletImageUrl">
                </td>
            </tr>
            <tr>
                <td>
                    ThumbnailUrl:
                </td>
                <td>
                    <input class="form-group form-control" type="text" placeholder="Image URL" ng-model="offer.offerData.thumbnailUrl">
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td col-span="2">
                    <div class="form-group">
                        <div class="row-fluid">
                            <div class="span4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="row show-hide-message" ng-show="offer.message">
    <div class="col-sm-6 col-sm-offset-2">
        <div class="alert alert-info">
            {{ offer.message }}
        </div>
    </div>
</div>